<h1>Registo de Utilizador</h1>

<form action="/register" method="POST">
    <label for="name">Nome:</label>
    <input type="text" name="name" id="name" required>

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Registar</button>
</form>

<p>Já tens conta? <a href="/">Login</a></p>

