<div class="hero">
    <div class="slogan-box">
        <h1>Bem-vindo ao SYNC</h1>
        <p>Organize os teus projetos, colabore e nunca perca uma tarefa!</p>
    </div>

    <div class="video-box">
        <p>Em breve terá aqui um vídeo em autoLoop.</p>
    </div>
</div>
