<div class="index-page">
    <div class="slogan-logo-box">
        <img src="/img/sync-logo.png" alt="SYNC Logo" class="logo-image animated-logo">
        <div class="slogan-text animated-slogan-move">
            <h1>Bem-vindo ao SYNC</h1>
            <p>Organize os seus projetos, colabore e nunca perca uma tarefa!</p>
        </div>
    </div>
    <div class="video-box">
        <p>Em breve terá aqui um vídeo em autoLoop.</p>
    </div>
</div>
