<div id="createServerModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeCreateServerModal()">&times;</span>
        <h3>Criar Novo Servidor</h3>

        <form id="createServerForm">
            <label>Nome do servidor:</label>
            <input type="text" id="serverName" required />

            <!--<label>Canais iniciais:</label>
            <div class="checkbox-group">
                <label><input type="checkbox" id="grupos" checked> Grupos</label>
                <label><input type="checkbox" id="tarefas" checked> Tarefas</label>
                <label><input type="checkbox" id="calendario" checked> Calendário</label>
            </div>-->

            <button type="submit">Criar Servidor</button>
        </form>
    </div>
</div>


