<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- caminho correto -->
</head>
<body>

<!-- Navbar -->
{{> navbar}}

<!-- Conteúdo da página -->
{{{body}}}

<!-- Modal -->
{{> loginModal}}

<script src="/js/modal.js"></script>
</body>
</html>
