<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- caminho correto -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

</head>
<body>

<!-- Navbar -->
{{> navbar}}

<!-- Conteúdo da página -->
{{{body}}}

<!-- Modal -->
{{> loginModal}}

{{> newChannelPopUp}}

<script src="/js/modal.js"defer></script>
<script src="/js/createServer.js"defer></script>
<script src="/js/calendar.js" defer></script>
<script src="/js/newChannel.js" defer></script>

</body>
</html>
